<div class="four columns">
  <div class="mailinglist"><link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"><style type="text/css">#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  </style><div id="mc_embed_signup"><form action="http://mattmcman.us2.list-manage.com/subscribe/post?u=2c8edbfa7e69fc6708aa2f1f3&amp;id=7e98149a11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="validate"><label for="mce-EMAIL">Subscribe to our mailing list</label><input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="email address" required="" class="email"><div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div></form></div></div>
</div>
<div class="four columns">
  <a class="ss-icon ss-social" href="http://facebook.com/beeradvent">Facebook</a>
</div>
<div class="four columns">
  <a class="ss-icon ss-social" href="http://twitter.com/beeradvent">Twitter</a>
</div>