<div class="twelve columns">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <a href="/">
          <h1 id="logo">Beer Advent 2013</h1>
        </a>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
      <!-- Left Nav Section -->
      <ul class="right">
        <li>
          <a class="active" href="/">Home</a>
        </li>
        <li>
          <a href="/about.html">About Beer Advent</a>
        </li>
        <li>
          <a href="/the-rules.html">The Rules</a>
        </li>
      </ul>
    </section>
  </nav>
</div>
