<div class="twelve columns">
  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            <h1 id="logo">Beer Advent 2012</h1>
          </a>
        </h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>
    <section>
      <!-- Left Nav Section -->
      <ul class="right">
        <li>
          <a class="active" href="/">The Calendar</a>
        </li>
        <li>
          <a href="/about.html">About</a>  
        </li>
        <li>
          <a href="/how-to-participate.html">How to Participate</a>
        </li>
      </ul>
    </section>
  </nav>
</div>