a {text-decoration: underline; }

#annual {
  color:#900;
  font-size:3rem;
}

#logo {
  text-shadow: 0 3px 7px rgba(20,20,20,.2);
  font-size: 12rem;
  line-height: 10.5rem;
  position: relative;
  width:540px;
  -moz-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  margin: .5em auto;
}
#logo span { display:block }
#logo .word2 { position:relative; left: .8em }
#logo .word1, #logo .word4 {
  color:#900;
  position:absolute;
  font-family:"chunk-1","chunk-2",serif;
  -moz-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}
#logo .word1 {
  font-size:3rem;
  top:-83px;
  left:140px
}
#logo .word4 {
  font-size:4rem;
  right:200px;
  bottom: -100px;
}

a.wepay-widget-button.wepay-green {
  
}

p {text-align: center;}
.help {
  font-family:"chunk-1","chunk-2",serif;
  font-size: 2rem
}
.help strong {display:block}