@import 'webfonts/ss-standard.css';
@import 'webfonts/ss-social.css';
#main a {
  color: #333;
}
/*    Logo      */
#annual {
  color: #900;
  font-size: 3rem;
}
#header .top-bar {
  background: #fff;
  border-bottom: 1px solid #eee;
}
#header .top-bar,
#header .top-bar ul,
#header .top-bar a {
  height: 85px;
}
#header .top-bar .name,
#header .top-bar .name a:hover {
  background: #fff;
}
#header .top-bar a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}
#header .top-bar a:hover {
  background: #f6f6f6;
}
#header .top-bar section a {
  padding-top: 20px;
  font-size: 1.5em;
  font-family: "chunk-1", "chunk-2", serif;
  text-shadow: 1px 1px 0px #fff, 3px 3px 0px #ddd;
}
#logo {
  font-size: 4rem;
  line-height: 0.9em;
  position: relative;
  top: -30px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  margin: 0.5em auto;
  width: 200px;
  text-shadow: 1px 1px 0px #fff, 3px 3px 0px #ddd;
}
#logo span {
  display: block;
}
#logo .word2 {
  position: relative;
  left: -0.8em;
}
#logo .word3 {
  color: #900;
  font-size: 0.55em;
  position: absolute;
  font-family: "chunk-1", "chunk-2", serif;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  left: 48px;
  bottom: -41px;
}
/*  The List    */
.beer {
  position: relative;
  margin-bottom: 2em;
}
.beer .day {
  font-family: "corner-store-1", "corner-store-2", sans-serif;
  color: #900;
  position: relative;
  top: 8px;
}
.beer a {
  text-decoration: none;
  display: block;
}
.beer a h3 {
  line-height: 1.2em;
}
.beer a h3 small {
  display: block;
  line-height: 0.9em;
}
.beer .image {
  margin: 0 auto;
  z-index: -1;
  -webkit-border-radius: 85px;
  border-radius: 85px;
  -webkit-box-shadow: 0 1px 5px rgba(20,20,20,0.3);
  box-shadow: 0 1px 5px rgba(20,20,20,0.3);
  overflow: hidden;
  height: 175px;
  width: 175px;
  background-position: -130px -230px;
  -webkit-background-size: 250%;
  -moz-background-size: 250%;
  background-size: 250%;
}
.beer .image img {
  display: none;
}
.beer .details {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #eee;
  border-width: 1px 4px;
  margin: 0;
  text-align: center;
  width: auto;
}
.beer .details li {
  list-style: none;
  display: inline-block;
  padding: 2px 4px;
  margin: 0;
  font-size: 11px;
  font-family: "chunk-1", "chunk-2", serif;
  border-left: 1px solid #eee;
}
.beer .details li:first-child {
  border-left: none;
}
.beer .details li.cost.low {
  color: #90ee90;
}
.beer .details li.cost.mid {
  color: #008000;
}
.beer .details li.cost.hi {
  color: #006400;
}
.beer .details li.abv.mid {
  color: #ff8c00;
}
.beer .details li.abv.hi {
  color: #ffa500;
}
