@import 'nib'
@import 'webfonts/ss-standard.css'
@import 'webfonts/ss-social.css'

red=#900

a 
  text-decoration underline  

/*    Logo      */
#annual 
  color red
  font-size 3rem 

#logo 
  font-size 4rem 
  line-height .9em
  position relative 
  top -30px
  transform rotate(-25deg) 
  margin .5em auto 
  width 200px
  span
    display block 
  .word2
    position relative
    left -.8em 
  .word3
    color red
    font-size .55em
    position absolute 
    font-family "chunk-1","chunk-2",serif
    transform rotate(25deg)
    left 48px
    bottom -41px


/*  header      */
// #header 

/*  The List    */
// #list 
  
.beer
  position relative
  .day
    font-family "corner-store-1","corner-store-2",sans-serif
    color red
    position relative
    top 14px
  a 
    text-decoration none
    display block
    h3 
      line-height 1.2em
      small
        display block
        line-height .9em
  .details
    border-radius 5px
    border 1px solid #eee
    margin 0
    li
      list-style none
      display inline-block
      width 49%