<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Beer Advent 2013 - {% if page.title %}{{ page.title }}{% else %}The Calendar{% endif %}</title>
  <meta name="author" content="{{ site.author }}">

  <!-- <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}"> -->
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <!-- Facebook Stuff and things-->
  <meta property="fb:app_id" content="165198970242612">
  <meta property="og:site_name" content="Beer Advent">
  <meta property="og:description" content="Beer Advent is for beer lovers and novices alike. It's an opportunity for people to get together and share their experiences through the entire spectrum of beer styles. 24 different beers are purchased and distributed among everyone. Each person drinks the same beer on each day of advent and shares their experience.">
  {% if page.layout == 'beer' %}
    <meta property="og:title", content="{{ document.brewery + " "+ document.name}}">
    <meta property="og:url", content="http://2011.beeradvent.com{{document.url}}">
    <meta property="og:image", content= "http://2012.beeradvent.com/images/{{document.image}}">
  {% endif %}

  <link rel="stylesheet" href="/styles.css">

  <!-- Javascript -->
  <script src="/modernizr.foundation.js"></script>
  <script type="text/javascript" src="//use.typekit.net/kjk7ugv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-68323-15']);
  _gaq.push(['_setDomainName', '2012.beeradvent.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>
  <div id="header" class="row">
    {% include navigation.html %}
  </div>

  <div id="main">
    <div class="row">
      {{ content }}
    </div>
  </div>

  <div id="footer" class="row">
    {% include footer.html %}
  </div>

  {% include footer-scripts.html %}

</body>
</html>
